#criar {
  background: linear-gradient(94.13deg, #2161ff -12.34%, #1b47c9 75.85%);
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #fff;
  font-family: "Exo", sans-serif;
}

#criar p {
  font-weight: 500;
  font-size: 1.4rem;
}

#criar .botao {
  background: #fff;
  color: #1d4cd3;
  font-weight: 700;
  width: 50%;
  text-transform: capitalize;
  font-size: 1.1rem;
  height: 4vh;
}

@media screen and (max-width: 458px) {
  #criar p {
    font-weight: 300;
  }

  #criar .botao {
    width: 70%;
    height: 6vh;
    margin-top: 1rem;
  }
}
